{% extends 'products/base/base.html' %}

{% load static %}

{% block page_content %}

<table>
   <thead>
      <tr>
         {% for table_header in table_headers %}
            <th>{{table_header}}</th>
         {% endfor %}
      </tr>
   </thead>
   <tbody>
      {% for product in products %}
         <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.material}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
         </tr>
      {% endfor %}
   </tbody>
</table>

<script src="{% static 'scripts/table.js' %}" defer></script>

{% endblock %}